<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>play</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/game_play.css' %}?{% now 'U' %}">
        <script src="{% static 'js/game_play.js' %}?{% now 'U' %}"></script>
    </head>
    <body id="body">
        <p id="csrf-token" hidden>{% csrf_token %}</p>
        <p id="live-player" hidden>{{live_player}}</p>
        <p id="live-name" hidden>{{live_name}}</p>
        <p id="live-score" hidden>{{live_score}}</p>
        <p id="live-damage" hidden>{{live_damage}}</p>
        <p id="game-common" hidden>{{game_common}}</p>
        <p id="game-metrics" hidden>{{game_metrics}}</p>
        <p id="game-player1" hidden>{{game_player1}}</p>
        <p id="game-player2" hidden>{{game_player2}}</p>
        <p id="game-player3" hidden>{{game_player3}}</p>
        <p id="game-player4" hidden>{{game_player4}}</p>
        <p id="game-player1-name" hidden>{{game_player1_name}}</p>
        <p id="game-player2-name" hidden>{{game_player2_name}}</p>
        <p id="game-player3-name" hidden>{{game_player3_name}}</p>
        <p id="game-player4-name" hidden>{{game_player4_name}}</p>

        <div id='battlefield-container' class="background" width="1250" height="600">
            <div id="object-overlay">
                <p value="placeholder for objects. javascript will insert in the DOM."></p>
            </div>
            <div id="tank-overlay">
                <p value="placeholder for tanks. javascript will insert in the DOM."></p>
            </div>
            <div id="ballistic-overlay">
                <p value="placeholder for shots. javascript will insert in the DOM."></p>
            </div>
            <div id="tree-overlay">
                <p value="placeholder for trees. javascript will insert in the DOM."></p>
            </div>
            <div id='tank-data-overlay' class="tankdata">
                <div id="tank1-data">
                    <p id="tank1-player-name"></p>
                    <label>H:</label><progress id="tank1-heat-bar" class="tankprogbar" value="0" max="1000"></progress>
                    <br>
                    <label>D:</label><progress id="tank1-damage-bar" class="tankprogbar" value="0" max="10000"></progress>
                </div>
                <div id="tank2-data">
                    <p id="tank2-player-name"></p>
                    <label>H:</label><progress id="tank2-heat-bar" class="tankprogbar" value="0" max="1000"></progress>
                    <br>
                    <label>D:</label><progress id="tank2-damage-bar" class="tankprogbar" value="0" max="10000"></progress>
                </div>
                <div id="tank3-data">
                    <p id="tank3-player-name"></p>
                    <label>H:</label><progress id="tank3-heat-bar" class="tankprogbar" value="0" max="1000"></progress>
                    <br>
                    <label>D:</label><progress id="tank3-damage-bar" class="tankprogbar" value="0" max="10000"></progress>
                </div>
                <div id="tank4-data">
                    <p id="tank4-player-name"></p>
                    <label>H:</label><progress id="tank4-heat-bar" class="tankprogbar" value="0" max="1000"></progress>
                    <br>
                    <label>D:</label><progress id="tank4-damage-bar" class="tankprogbar" value="0" max="10000"></progress>
                </div>
            </div>
        </div>
        <div id="console" class="container-fluid metrics bg-gray">
            <div class="row center">
                <div class="col-12 text-center mt-1">
                    <div class="btn-group" role="group" aria-label="game_dash_group">

                        <a class="btn btn-light btn-sm" href="/game-pick">Select</a>
                        <a class="btn btn-light btn-sm" href="/game-dash">Dash</a>
                        <a class="btn btn-light btn-sm" href="/game-rank">Metrics</a>
                        <a class="btn btn-warning btn-sm" href="/signout">Sign-out</a>

                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="col-12 text-center"><p>Controls are: Turret - left:[F] Right:[J] Fire:[G] Stop: [H] --- Steering: left:[D] right: [K] --- Drive - forward; [S] backward: [L] --- Drive-Steer Stop: [A] --- Controls Toggle: [Semicolon]</p></div>
            </div>
            <div class="row center">
                <div class="col-4 my-auto">
                    <p id="user-id" hidden>{{gameuser.id}}</p>
                    <p id="user-screen-name" hidden>{{gameuser.screen_name}}</p>
                    <h2>{{gameuser.screen_name}}</h2>
                </div>
                <div class="col-4 text-center"><textarea id="chat-input" cols="40" rows="1"></textarea></div>
                <div class="col-4 text-center" ><textarea id="cycles" cols="10" rows="1"></textarea></div>
            </div>
            <div class="row center">
                <div class="col-2 text-center"><textarea id="game-player1-chat-log" cols="20" rows="2"></textarea></div>
                <div class="col-2 text-center"><textarea id="game-player2-chat-log" cols="20" rows="2"></textarea></div>
                <div class="col-2 text-center"><textarea id="game-player3-chat-log" cols="20" rows="2"></textarea></div>
                <div class="col-2 text-center"><textarea id="game-player4-chat-log" cols="20" rows="2"></textarea></div>
                <div class="col-2 text-center"><textarea id="game-common-log" cols="20" rows="2"></textarea></div>
                <div class="col-2 text-center"><textarea id="game-metrics-log" cols="20" rows="2"></textarea></div>
            </div>
        </div>
    </body>
</html>
