<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>play</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}">
        <script src="{% static 'js/game.js' %}"></script> 
    </head>
    <body id="body">
        <p id="live-player" hidden>{{live_player}}</p>
        <p id="game-commmon" hidden>{{game_common}}</p>
        <p id="game-player1" hidden>{{game_player1}}</p>
        <p id="game-player2" hidden>{{game_player2}}</p>
        <p id="game-player3" hidden>{{game_player3}}</p>
        <p id="game-player4" hidden>{{game_player4}}</p>

        <div id='battlefield_container' class="background" width="1600" height="800">
            <div id="obstacle_overlay">
                <p value="placeholder for obstacles. javascript will insert in the DOM."></p>
            </div>
            <div id="tank_overlay">
                <p value="placeholder for tanks. javascript will insert in the DOM."></p>
            </div>
            <div id="ballistic_overlay">
                <p value="placeholder for shots. javascript will insert in the DOM."></p>
            </div>
            <div id='tank_data_overlay' class="tankdata">
                <div id="tank1_data">
                    <p id="tank1_data_1"></p>
                    <p id="tank1_data_2"></p>
                    <p id="tank1_data_3"></p>
                    <p id="tank1_data_4"></p>
                </div>
                <div id="tank2_data">
                    <p id="tank2_data_1"></p>
                    <p id="tank2_data_2"></p>
                    <p id="tank2_data_3"></p>
                    <p id="tank2_data_4"></p>
                </div>
                <div id="tank3_data">
                    <p id="tank3_data_1"></p>
                    <p id="tank3_data_2"></p>
                    <p id="tank3_data_3"></p>
                    <p id="tank3_data_4"></p>
                </div>
                <div id="tank4_data">
                    <p id="tank4_data_1"></p>
                    <p id="tank4_data_2"></p>
                    <p id="tank4_data_3"></p>
                    <p id="tank4_data_4"></p>
                </div>
            </div>
        </div>
        <div class="form-group text-right">
            <a class="btn btn-secondary btn-sm" href="/signoff">sign off</a>
        </div>
    </body>
</html>
